<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/layout :: head('Edit comment')"></head>
</head>
<body>

<header th:replace="fragments/layout :: header"></header>

<main>
    <form method="POST" style="text-align: center"
          th:action="@{'/blogs/' + ${comment.blogId} + '/comments/' + ${comment.id} + '/edit'}"
          th:object="${comment}">
        <h3 th:text="#{comment.edit}">Edit Comment</h3>
        <textarea style="height: 300px; width: 1000px; border: 1px solid #999999; padding: 5px;"
                  th:field="*{content}"
                  type="text"></textarea>
        <br><br>
        <input class="btn btn-primary btn-lg" type="submit" th:value="#{button.create}">
    </form>
</main>

<footer th:replace="fragments/layout :: footer"></footer>

</body>
</html>